<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.mapper.UserMapper">

    <resultMap id="user" type="com.xu.bean.User">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
    </resultMap>

    <!-- 声明这个namespace使用二级缓存 -->
    <cache/>

    <!-- 使用Redis作为二级缓存 -->
    <!--
        <cache type="org.mybatis.caches.redis.RedisCache"
               eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>
    -->

    <!--        <cache type="org.apache.ibatis.cache.impl.PerpetualCache"
                   size="1024"
                   eviction="LRU"
                   flushInterval="120000"
                   readOnly="false"/>-->

    <!-- 查找用户信息 -->
    <select id="findAllUser" resultType="com.xu.bean.User">
        select * from user
    </select>



</mapper>